.card-lower {
    height: 230px;
}

.card-low {
    height: 370px;
}

.card-high {
    height: 570px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #C26FAC;
    color: black;
    border: 0 !important;
}

.login_btn {
    color: black;
    background-color: #C26FAC;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}