<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Error!</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" th:href="@{/css/mainStyles.css}"/>
    <link rel="stylesheet" th:href="@{/css/errorStyles.css}"/>
</head>
<body>
<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-12 text-center error-block">
            <span class="display-1 d-block" th:if="${status != null}" th:text="${status}"></span>
            <span class="display-1 d-block" th:if="${status == null}">ERROR</span>
            <div class="mb-4 lead" th:text="${message}"></div>
            <a href="/tournaments/view">Back to Home</a>
        </div>
    </div>
</div>
</body>
</html>