<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Please Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!--Bootsrap 4 CDN-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">

    <!--Fontawesome CDN-->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/mainStyles.css}"/>
    <link rel="stylesheet" th:href="@{/css/loginStyles.css}"/>
</head>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="card card-low">
            <div class="card-header">
                <h3>Sign In</h3>
            </div>
            <div class="card-body">
                <form action="login" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control" name="email" placeholder="username@mail.com" type="text">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control" name="password" placeholder="password" type="password">
                    </div>
                    <div class="alert alert-danger" th:if="${param.error}">
                        Invalid username or password.
                    </div>
                    <div class="alert alert-success" th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <div class="alert alert-success" th:if="${param.registered}">
                        Confirm your email before login.
                    </div>
                    <div class="alert alert-success" th:if="${param.verified}">
                        You have successfully verified your email.
                    </div>
                    <div , class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}">
                    </div>
                    <div class="form-group">
                        <input class="btn float-right login_btn" type="submit" value="Login">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="/user/registration">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/user/forgot-password">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>